.gradle/
.gradle-tmp/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.iml
/app/build/
/.gradle-user-home/
/logcat/
*.logcat
.env
google-services.json
app/google-services.json
